{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="pub__item" itemscope itemtype="http://schema.org/CreativeWork">
    <!-- Title -->
    <h2 class="pub__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> 
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
          <span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}">
          {{post.conference}} {{post.date | date: "%Y"}}: {{ title }}
        </a>
      {% endif %}
    </h2>

    <!-- Authorship -->
    {% if post.authors %}
      <p class="pub__item-authors">
        {% assign author_count = post.authors | size %}
        {% for author in post.authors %}
          {% assign index = forloop.index0 %}

          {% if author == "Dabin Kim" %}
            {% assign display_name = "<strong>" | append: author | append: "</strong>" %}
          {% else %}
            {% assign display_name = author %}
          {% endif %}

          {% if forloop.last and author_count > 1 %}
            and {{ display_name }}
          {% elsif forloop.index == author_count %}
            {{ display_name }}
          {% else %}
            {{ display_name }},
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}

    <!-- Links directly under the title -->
    <p class="pub__item-links" itemprop="description">
      {% for link in post.links %}
      {% if link.name and link.link contains "http" %}
        [<a href="{{ link.link }}">{{ link.name }}</a>]
      {% elsif link.name contains "Bibtex"  %}
        [<a href="{{base_path}}{{ post.url }}index.html#bibtex">{{ link.name }}</a>]
      {% else %}
        [<a href="{{ link.link }}">{{ link.name }}</a>]
      {% endif %}
    {% endfor %}
    </p>

    <!-- Teaser image -->
    <!-- {% if teaser %} -->
    {% if teaser or post.excerpt %}
      <div class="pub__teaser-excerpt-container">

        {% if teaser %}
          <div class="pub__item-teaser">
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">
              <img class="teaser-img"
                src=
                  {% if teaser contains "://" %}
                    "{{ teaser }}"
                  {% else %}
                    "{{ teaser | prepend: "/images/" | prepend: base_path }}"
                  {% endif %}
                alt="">
            </a>
          </div>
        {% endif %}
    
        {% if post.excerpt %}
          <div class="pub__item-excerpt" itemprop="description">
            {{ post.excerpt | markdownify | strip_html | truncate: 450 }}
          </div>
        {% endif %}
      </div>
    {% endif %}
      <!-- <div class="pub__item-teaser_leftOfText">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <img class="teaser-img" 
          src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
          alt=""> -->
          <!-- <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt=""> -->
        <!-- </a>
      </div>
    {% endif %} -->
      

    <!-- Excerpt -->
    <!-- {% if post.excerpt %}
      <p class="pub__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify | strip_html | truncate: 450 }}
      </p>
    {% endif %} -->
  </article>
</div>
